@()(implicit request: Request[AnyContent])

@main("About us") {

    <img src="@routes.Assets.versioned("images/jegbsuw6k6v41.jpg")" width="750px" height="750px" onclick="neverGonnaGive()">

    <script>
            function neverGonnaGive() {
                window.open("https://www.youtube.com/watch?v=dQw4w9WgXcQ");
                window.open("https://www.youtube.com/watch?v=dQw4w9WgXcQ");
                window.open("https://www.youtube.com/watch?v=dQw4w9WgXcQ");
                window.open("https://www.youtube.com/watch?v=dQw4w9WgXcQ");
                window.open("https://www.youtube.com/watch?v=dQw4w9WgXcQ");
                window.open("https://www.youtube.com/watch?v=dQw4w9WgXcQ");
                window.open("https://www.youtube.com/watch?v=dQw4w9WgXcQ");
                window.open("https://www.youtube.com/watch?v=dQw4w9WgXcQ");
                window.open("https://www.youtube.com/watch?v=dQw4w9WgXcQ");
                window.open("https://www.youtube.com/watch?v=dQw4w9WgXcQ");
            }
    </script>
}