@(form: Form[Login], err: String)(implicit request: Request[AnyContent], messagesProvider: MessagesProvider)

@main("Login time baby") {

    <div>
        <h3>@err</h3>
    </div>
    <div>
        @helper.form(routes.LoginController.submitLogin()) {
            @helper.inputText(form("email"), '_label -> "", '_showConstraints -> false, 'id -> "email", 'placeholder -> "Email", 'autocomplete -> "off")
            @helper.inputPassword(form("password"), '_label -> "", '_showConstraints -> false, 'id -> "password", 'placeholder -> "Password", 'autocomplete -> "off")
            <button type="submit" style="margin-left: 50px;">Log in</button>
        }
    </div>
}